<h3>Edit Your Meme</h3>
<div class="form">
<%= form_for @meme do |f| %>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :caption %>
		<%= f.text_field :caption %>
	</p>
	<p>
		<%= f.label "Meme Image" %>
		<%= f.file_field :cover_photo %>
	</p>
	<%# f.hidden_field @user.id %>
	<p>
		<%= f.label :user_id %>
		<%= f.text_field :user_id %>
	</p>
	<p>
		<%= f.submit "Edit Meme"%>
	</p>
	<% end %>
</div>
