<h1>New Form Meme</h1>

<%= form_for @meme do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.label :caption %>
	<%= f.text_field :caption %>
	<br><br>
	<%= f.label :cover_photo %>
	<%= f.file_field :cover_photo %>
	<%# f.hidden_field @user.id %>
	<%= f.label :user_id %>
	<%= f.text_field :user_id %>
	<br><br>
	<%= f.submit %>
<% end %>
