<div class="wrapper">
<h3>Create Account</h3>
<div class="login_form">
<%= form_for @user do |f| %>
	<p>
  <%= f.label :username %>
  <%= f.text_field :username %>
	</p>
	<p>
  <%= f.label :password %>
  <%= f.text_field :password %>
	</p>
	<p>
  <%= f.label "Confirm Password" %>
  <%= f.password_field :password_confirmation %>
	</p>
  <%= f.submit %>
<% end %>
</div>
</div>
