<link rel="stylesheet" href="/css/master.css">
<section class="my_profile_section">
  <h3>My Profile</h3>
  <div class="container">
		<div class="profile_box">
				<div class="profile_img">
					
					<img src="<%= asset_path('empty_profile_pic.jpg') %>" alt="">
					<button type="button" name="edit_profile"><%= link_to "Edit Profile", edit_user_path(@user)%></button>
				</div>
		</div>
		<div class="profile_info">
			<h1><%= @user.username %></h1>
			<p><%= @user.bio %></p>
		</div>

  </div>

</section>

<section class="my_meme_section">
  <h3>My Memes</h3>
  <div class="container">
		<% @user.memes.each do |meme| %>
		<div class="meme_post">
			<%= image_tag meme.cover_photo %>
			<h2><%= meme.title %></h2>
			<h6><%= meme.created_at.strftime("Posted %m/%d/%Y") %></h6>
			<p><%= meme.caption %></p>
			<button type="button" name="edit"><%= link_to "Edit", edit_meme_path(meme) %></button>
			<button id="meme_delete" type="button" name="delete"><%= link_to "Delete", meme_path(meme), method: :delete %></button>
		</div>
		<% end %>
  </div>
</section>


<section class="my_fav_section">
  <h3>Favorite Memes</h3>
  <div class="container">
		Hello
  </div>

</section>
