<!DOCTYPE html>
<html>
  <head>
    <title>YouMeme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  </head>



  <body>
		<header>
			<div class="logo">
				<img src="<%= asset_path('logo_header.png') %>" alt="">
				<div class="logger">
					<p><img src="<%= asset_path('icon_1.png') %>" alt="">Log Out</p>
				</div>
			</div>
		</header>
		
    <% if logged_in? %>
  <nav>
    <%= form_tag "/logout", method: :delete do %>
    <%= submit_tag "Log Out" %>
    <% end %>
  </nav>
    <% end %>

    <%= yield %>
  </body>
  </html>
